@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#000033]
  }
}

.btn:hover {
  box-shadow: 0px 0px 10px #FF5F1F;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.tippy-box[data-theme~='tippy']{
  background-color: rgb(3, 105, 161);
  color: white;
}
.tippy-box[data-theme~='tippy'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(3, 105, 161);
}